

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#comercial-header,
#feature { margin-top: 20px; 
padding-top: 10px;
padding-bottom: 10px;}

.jogo { 
background-color: #282c33;
color: white;
margin: 0 5px; }

.jogo > div {
	padding-top: 10px:;
}













