

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#comercial-header,
#feature { margin-top: 20px; 
padding-top: 10px;
padding-bottom: 10px;}

div.media2 {
	padding-top: 10PX;
	padding-bottom: 20PX;
padding-left: 110px;
 float: left
 }

div.break { clear: both; }














